{
    "extends": [
        "google"
    ],
    "plugins": [
        "mocha"
    ],
    "rules": {
        "camelcase": 0,
        "comma-dangle": 0,
        "computed-property-spacing": 0,
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": 0,
        "new-cap" : 0,
        "no-console": 0,
        "no-multiple-empty-lines": 1,
        "no-tabs": 0,
        "no-var": 1,
        "no-unused-vars": 1,
        "no-undef": 2,
        "object-curly-spacing": "off",
        "one-var": 0,
        "padded-blocks": 0,
        "require-jsdoc": 0,
        "valid-jsdoc": 0
	},
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"env": {
		"node": true,
		"es6": true
	}
}
